In [1]:
import pandas as pd

In [ ]:
#pip install tidyhome

In [ ]:
#import tidyhome as th

In [2]:
url = "https://github.com/SebastianStoneham/seb/raw/main/QOT5WN9RBKQTFRVKEV31.csv"

In [3]:
hmda_df = pd.read_csv(url)

In [4]:
hmda_df.head()

  2021|QOT5WN9RBKQTFRVKEV31|1|1|2|1|1|55000|1|MN|27045|27045960600|2|||||5|||||2|4|5|||||8|||||2|4|2|5|2|4|35-44|No|9999|NA|45|1|1.437|2|1|3|10|10||||2904.35|NA|1270.0|375.0||3.25|NA|20%-<30%|52.6316|180|NA|2|2|2|2|95000|3|5|1|NA|1|1|1|||||2|2|2
0  2021|QOT5WN9RBKQTFRVKEV31|1|2|2|1|1|95000|1|CA...
1  2021|QOT5WN9RBKQTFRVKEV31|1|2|2|1|1|105000|1|A...
2  2021|QOT5WN9RBKQTFRVKEV31|1|2|2|1|1|65000|4|CA...
3  2021|QOT5WN9RBKQTFRVKEV31|1|32|2|1|1|105000|1|...
4  2021|QOT5WN9RBKQTFRVKEV31|1|32|2|1|1|2085000|1...