In [1]:
import pandas as pd

In [2]:
#pip install tidyhome

In [3]:
#import tidyhome as th

In [4]:
url = "https://github.com/SebastianStoneham/seb/raw/main/lei_3Y4U8VZURTYWI1W2K376-QOT5WN9RBKQTFRVKEV31_state_CA.csv"

In [5]:
# this is CA 2021 BOW and BMO HMDA

In [6]:
hmda_df = pd.read_csv(url)

In [7]:
hmda_df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001421900,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3793,38.31,125600,144,1122,1679,76
1,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001403900,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3983,48.78,125600,79,805,778,54
2,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001430600,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5739,50.48,125600,130,1813,2095,52
3,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001430800,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,6091,50.01,125600,100,1270,1880,57
4,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001421500,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3736,19.27,125600,201,1330,1669,71

In [8]:
import pandas_profiling
from pandas_profiling import ProfileReport

#Leave as raw code
profile = pandas_profiling.ProfileReport(hmda_df)
profile.to_notebook_iframe()
profile.to_file("hmda_data_profile.html")

In [9]:
hmda_df.groupby(['lei','census_tract'])['derived_ethnicity'].count()

lei                   census_tract
3Y4U8VZURTYWI1W2K376  6001400100      1
                      6001400700      1
                      6001401000      1
                      6001403800      1
                      6001403900      1
                                     ..
QOT5WN9RBKQTFRVKEV31  6115040400      1
                      6115040500      1
                      6115040600      3
                      6115040700      5
                      6115041100      1
Name: derived_ethnicity, Length: 5839, dtype: int64

In [10]:
hmda_df.describe()

,activity_year,derived_msa-md,county_code,census_tract,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
count,19208.0,19208.000000,19208.000000,1.920800e+04,19208.000000,19208.000000,19208.000000,19208.000000,19208.000000,19208.000000,...,634.000000,99.000000,2.00000,19208.000000,19208.000000,19208.000000,19208.000000,19208.000000,19208.000000,19208.000000
mean,2021.0,35719.616254,6054.116514,6.054359e+09,2.211162,0.091576,1.999219,1.006195,16.957518,1.367920,...,6.244479,7.262626,7.50000,5502.842670,50.836962,101536.422324,132.636349,1206.454394,1705.538265,42.448615
std,0.0,12008.544208,29.845491,2.978063e+07,1.458892,0.777137,0.027935,0.091914,14.375143,0.482252,...,2.764908,2.764889,2.12132,2640.004884,25.165089,27838.778462,59.583534,659.889427,846.607190,17.030477
min,2021.0,11244.000000,6001.000000,6.001400e+09,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,6.00000,377.000000,1.980000,56200.000000,0.000000,8.000000,10.000000,0.000000
25%,2021.0,31084.000000,6037.000000,6.037212e+09,1.000000,0.000000,2.000000,1.000000,2.000000,1.000000,...,4.000000,4.500000,6.75000,3890.000000,29.430000,80000.000000,91.000000,764.000000,1169.000000,31.000000
50%,2021.0,36084.000000,6059.000000,6.059042e+09,1.000000,0.000000,2.000000,1.000000,31.000000,1.000000,...,6.000000,9.000000,7.50000,5106.000000,47.580000,95100.000000,123.000000,1107.000000,1576.000000,43.000000
75%,2021.0,41884.000000,6081.000000,6.081601e+09,3.000000,0.000000,2.000000,1.000000,31.000000,2.000000,...,9.000000,9.000000,8.25000,6515.000000,72.860000,125600.000000,164.000000,1535.000000,2084.000000,55.000000
max,2021.0,99999.000000,6115.000000,6.115041e+09,6.000000,71.000000,2.000000,3.000000,32.000000,2.000000,...,9.000000,9.000000,9.00000,23589.000000,100.000000,163000.000000,399.000000,4882.000000,7152.000000,76.000000

hmda_df.groupby(['lei','census_tract']).agg({
    'loan_amount': {
        'loan_count': 'count',
        'loan_amount_sum': 'sum',
        'loan_amount_mean': 'mean'
    },
    'applicant_race-1': {
        'minority_percent': lambda x: (x == 2).mean() * 100
    },
    'action_taken': {
        'denial_rate': lambda x: (x == 5).mean() * 100
    },
    'applicant_credit_score_type': {
        'fico_mean': 'mean'
    }
})

In [11]:
# Aggregate loan_amount #Chatgpt
loan_agg = hmda_df.groupby(['lei', 'census_tract'])['loan_amount'].agg(
    loan_count='count',
    loan_amount_sum='sum',
    loan_amount_mean='mean'
)

# Aggregate applicant_race-1
minority_agg = hmda_df.groupby(['lei', 'census_tract'])['applicant_race-1'].agg(
    minority_percent=lambda x: (x == 2).mean() * 100
)

# Aggregate action_taken
denial_agg = hmda_df.groupby(['lei', 'census_tract'])['action_taken'].agg(
    denial_rate=lambda x: (x == 5).mean() * 100
)

# Aggregate applicant_credit_score_type
fico_agg = hmda_df.groupby(['lei', 'census_tract'])['applicant_credit_score_type'].agg(
    fico_mean='mean'
)

# Combine aggregated dataframes
result = loan_agg.merge(minority_agg, left_index=True, right_index=True) \
        .merge(denial_agg, left_index=True, right_index=True) \
        .merge(fico_agg, left_index=True, right_index=True)

In [12]:
result.head()

                                   loan_count  loan_amount_sum  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100             1        1065000.0
                     6001400700             1         825000.0
                     6001401000             1         885000.0
                     6001403800             1        1075000.0
                     6001403900             1         285000.0

                                   loan_amount_mean  minority_percent  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100           1065000.0               0.0
                     6001400700            825000.0               0.0
                     6001401000            885000.0               0.0
                     6001403800           1075000.0               0.0
                     6001403900            285000.0               0.0

                                   denial_rate  fico_mean
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100            0.0        9.0
                     6001400700            0.0        9.0
                     6001401000            0.0        9.0
                     6001403800            0.0        9.0
                     6001403900            0.0        8.0

In [13]:
result.describe()

,loan_count,loan_amount_sum,loan_amount_mean,minority_percent,denial_rate,fico_mean
count,5839.000000,5.839000e+03,5.839000e+03,5839.000000,5839.000000,5839.000000
mean,3.289604,1.778503e+06,4.856810e+05,17.026131,0.790661,6.676132
std,3.403223,3.426860e+06,7.188427e+05,30.617113,8.258368,2.312374
min,1.000000,1.500000e+04,1.500000e+04,0.000000,0.000000,1.000000
25%,1.000000,3.250000e+05,2.050000e+05,0.000000,0.000000,5.285714
50%,2.000000,7.900000e+05,3.270000e+05,0.000000,0.000000,7.400000
75%,4.000000,1.772500e+06,5.950000e+05,25.000000,0.000000,8.666667
max,46.000000,7.017000e+07,2.746500e+07,100.000000,100.000000,9.000000

# Race of Applicant or Borrower
#### 1 -- American Indian or Alaska Native
#### 2 -- Asian
#### 21 -- Asian Indian
#### 22 -- Chinese
#### 23 -- Filipino
#### 24 -- Japanese
#### 25 -- Korean
#### 26 -- Vietnamese
#### 27 -- Other Asian
#### 3 -- Black or African American
#### 4 -- Native Hawaiian or Other Pacific Islander
#### 41 -- Native Hawaiian
#### 42 -- Guamanian
#### 43 -- Samoan
#### 44 -- Other Pacific Islander
#### 5 -- White
#### 6 -- Information not provided by applicant in mail internet or telephone application (only valid for Race of Applicant or Borrower: 1)
#### 7 -- Not applicable (only valid for Race of Applicant or Borrower: 1)

Potential extras:

1. loan_purpose_percent: percentage of loans made for each purpose (e.g. home purchase, refinance, etc.) in a given LEI and census tract
2. income_mean: average income of applicants in a given LEI and census tract