In [1]:
import pandas as pd

In [ ]:
#pip install tidyhome

In [ ]:
#import tidyhome as th

In [8]:
url = "https://github.com/SebastianStoneham/seb/raw/main/lei_3Y4U8VZURTYWI1W2K376-QOT5WN9RBKQTFRVKEV31_state_CA.csv"

In [ ]:
# this is CA 2021 BOW and BMO HMDA

In [9]:
hmda_df = pd.read_csv(url)

In [10]:
hmda_df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001421900,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3793,38.31,125600,144,1122,1679,76
1,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001403900,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3983,48.78,125600,79,805,778,54
2,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001430600,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5739,50.48,125600,130,1813,2095,52
3,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001430800,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,6091,50.01,125600,100,1270,1880,57
4,2021,3Y4U8VZURTYWI1W2K376,36084,CA,6001,6001421500,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3736,19.27,125600,201,1330,1669,71